@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:white;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16;
  color: darkslategrey;
  text-decoration: none;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.flex-container a {
    background-color: #f1f1f1;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    font-size: 100%;
    border-radius: 10px;
    font-family: "Montserrat";
}

.flex-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between 80px;
}

.MainStyle {
  text-align: center;
  padding-top: 50px;
  size: 100px;
  font-family: "Montserrat";
}