@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:white;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16;
  color: darkslategrey;
  text-decoration: none;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transition; all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.Title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16;
  color: #ecf0f1;
  text-decoration: none;
}

.MainStyle {
  text-align: center;
  padding-top: 50px;
  size: 100px;
  font-family: "Montserrat";
}

.MainStyle2 {
  text-align: center;
  padding-top: 35px;
  size: 100px;
  font-family: "Montserrat";
}
